@model Slider
<div>
    <div>
        <p>Id</p>
        <p>@Model.Id</p>
    </div>
    <div>
        <p>Title</p>
        <p>@Model.Title</p>
    </div>
    <div>
        <p>Subtitle</p>
        <p>@Model.Subtitle</p>
    </div>
    <div>
        <p>Image</p>
        <img width="200" src="~/assets/image/@Model.Image" />
    </div>
    <form method="post">
        <button type="submit" class="btn btn-lg btn-danger">Delete</button>
    </form>
</div>