<main>
    <section id="slider">
        <div class="prevBtn">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="slider">

            <div class="image">
                <img src="~/assets/image/Main_Slide_-_1_1920x.webp" alt="">
                <div class="img-txt">
                    <span>
                        Mutilpurpose
                    </span>
                    <h2>
                        What Is The
                        <br>
                        Healthiest Cat Food?
                    </h2>
                </div>
            </div>
            <div class="image">
                <img src="~/assets/image/Main_Slide_-_2_1920x.webp" alt="">
                <div class="img-txt" style="left:25% ;">
                    <span>Mutilpurpose</span>
                    <h2>
                        The best cat food,
                        <br>
                        according to experts
                        <br>
                        and veterinarians
                    </h2>
                </div>
            </div>
            <div class="image">
                <img src="~/assets/image/Main_Slide_-_3_1920x.webp" alt="">
                <div class="img-txt">
                    <span>Mutilpurpose</span>
                    <h2>
                        Being a cat mom is
                        <br>
                        my happily ever after
                    </h2>
                </div>
            </div>
        </div>
        <div class="nextBtn">
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <img style="width:100% ; z-index:9999 ;position: absolute;bottom:0px;left:0 ;"
             src="https://cdn.shopify.com/s/files/1/0560/4170/1584/files/pattern-body_b34d1edb-60c6-451d-8a0b-510652a4350d_1920x200.png?v=1622426208"
             alt="">
    </section>
    <section id="category">
        <div class="container">
            <div class="title text-center">
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0560/4170/1584/files/foot_50x.png?v=1622427453"
                         alt="">
                </div>
                <div class="txt">
                    <span>Shop by Category</span>
                </div>
            </div>
            <div class="category-cart">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="cart-item">
                            <div class="img">
                                <div class="bg-color"></div>
                                <img class="main" src="~/assets/image/category/img-1_200x.webp" alt="">
                                <div class="another-img">
                                    <img class="another"
                                         src="//cdn.shopify.com/s/files/1/0560/4170/1584/files/icon-2_50x.png?v=1622429166"
                                         alt="">
                                </div>
                            </div>
                            <div class="txt">
                                <p>Cat Supplies</p>
                                <span>125 products</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="cart-item">
                            <div class="img">
                                <div class="bg-color"></div>
                                <img class="main" src="~/assets/image/category/img-2_200x.webp" alt="">
                                <div class="another-img">
                                    <img class="another"
                                         src="//cdn.shopify.com/s/files/1/0560/4170/1584/files/icon-2_50x.png?v=1622429166"
                                         alt="">
                                </div>
                            </div>
                            <div class="txt">
                                <p>Cat Supplies</p>
                                <span>25 products</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="cart-item">
                            <div class="img">
                                <div class="bg-color"></div>
                                <img class="main" src="~/assets/image/category/img-3_200x.webp" alt="">
                                <div class="another-img">
                                    <img class="another"
                                         src="//cdn.shopify.com/s/files/1/0560/4170/1584/files/icon-2_50x.png?v=1622429166"
                                         alt="">
                                </div>
                            </div>
                            <div class="txt">
                                <p>Cat Supplies</p>
                                <span>125 products</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="cart-item">
                            <div class="img">
                                <div class="bg-color"></div>
                                <img class="main" src="~/assets/image/category/img-4_200x.webp" alt="">
                                <div class="another-img">
                                    <img class="another"
                                         src="//cdn.shopify.com/s/files/1/0560/4170/1584/files/icon-2_50x.png?v=1622429166"
                                         alt="">
                                </div>
                            </div>
                            <div class="txt">
                                <p>Cat Supplies</p>
                                <span>25 products</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="cart-item">
                            <div class="img">
                                <div class="bg-color"></div>
                                <img class="main" src="~/assets/image/category/img-5_200x.webp" alt="">
                                <div class="another-img">
                                    <img class="another"
                                         src="//cdn.shopify.com/s/files/1/0560/4170/1584/files/icon-2_50x.png?v=1622429166"
                                         alt="">
                                </div>
                            </div>
                            <div class="txt">
                                <p>Cat Supplies</p>
                                <span>125 products</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="cart-item">
                            <div class="img">
                                <div class="bg-color"></div>
                                <img class="main" src="~/assets/image/category/img-6_200x.webp" alt="">
                                <div class="another-img">
                                    <img class="another"
                                         src="//cdn.shopify.com/s/files/1/0560/4170/1584/files/icon-2_50x.png?v=1622429166"
                                         alt="">
                                </div>
                            </div>
                            <div class="txt">
                                <p>Cat Supplies</p>
                                <span>25 products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Seller start -->
    <section id="seller">
        <div class="container">
            <div class="seller-txt">
                <div class="title  text-center">
                    <span>Best Sellers</span>
                </div>
                <div class="tab">
                    <div class="tablist">
                        <ul class="d-flex list-unstyled justify-content-center">
                            <li data-btn="0" class="tabBtn activelink"><a href="#">Cats Foods</a></li>
                            <li data-btn="1" class="tabBtn ms-5"><a href="#">Toys</a></li>
                            <li data-btn="2" class="tabBtn ms-5"><a href="#">T-Shirt</a></li>
                            <li data-btn="3" class="tabBtn ms-5"><a href="#">Jewelry</a></li>
                            <li data-btn="4" class="tabBtn ms-5"><a href="#">Accessories</a></li>
                        </ul>
                    </div>
                    <div class="tabs">
                        <div class="tab-content active">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/15_bdc87d76-7a81-4f6d-8412-6d3795460c33_360x.webp"
                                                 alt="">
                                            <img class="another" src="~/assets/image/tabmenu/12_360x.webp" alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/12_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/15_bdc87d76-7a81-4f6d-8412-6d3795460c33_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_603373cb-82bd-42f5-aa43-6f2732fb91ec_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/18_58e8993e-93ba-4bc0-b85b-579b2b23d8ff_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/19_3d798f36-cfb4-4548-8b64-742b695faa25_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/11_39069f08-a7a5-4abb-a96d-115cf3003478_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_8a450403-0dd7-4911-b910-7a2b647993d0_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/20_5501ec06-deee-4c84-9510-1f3468422733_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/3_45029f1a-105f-43d1-b403-6bcb8f5975fc_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/4_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/10_2c12faf6-0734-47af-add2-f3c587e619bf_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/11_39069f08-a7a5-4abb-a96d-115cf3003478_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/12_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/15_bdc87d76-7a81-4f6d-8412-6d3795460c33_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_603373cb-82bd-42f5-aa43-6f2732fb91ec_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/18_58e8993e-93ba-4bc0-b85b-579b2b23d8ff_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/19_3d798f36-cfb4-4548-8b64-742b695faa25_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/11_39069f08-a7a5-4abb-a96d-115cf3003478_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_8a450403-0dd7-4911-b910-7a2b647993d0_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/20_5501ec06-deee-4c84-9510-1f3468422733_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/3_45029f1a-105f-43d1-b403-6bcb8f5975fc_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/4_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="tab-item active">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/10_2c12faf6-0734-47af-add2-f3c587e619bf_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/11_39069f08-a7a5-4abb-a96d-115cf3003478_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/12_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/15_bdc87d76-7a81-4f6d-8412-6d3795460c33_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_603373cb-82bd-42f5-aa43-6f2732fb91ec_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/18_58e8993e-93ba-4bc0-b85b-579b2b23d8ff_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/19_3d798f36-cfb4-4548-8b64-742b695faa25_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/11_39069f08-a7a5-4abb-a96d-115cf3003478_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_8a450403-0dd7-4911-b910-7a2b647993d0_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/20_5501ec06-deee-4c84-9510-1f3468422733_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/3_45029f1a-105f-43d1-b403-6bcb8f5975fc_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/4_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="tab-item active">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/10_2c12faf6-0734-47af-add2-f3c587e619bf_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/11_39069f08-a7a5-4abb-a96d-115cf3003478_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/12_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/15_bdc87d76-7a81-4f6d-8412-6d3795460c33_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_603373cb-82bd-42f5-aa43-6f2732fb91ec_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/18_58e8993e-93ba-4bc0-b85b-579b2b23d8ff_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/19_3d798f36-cfb4-4548-8b64-742b695faa25_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/11_39069f08-a7a5-4abb-a96d-115cf3003478_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_8a450403-0dd7-4911-b910-7a2b647993d0_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/20_5501ec06-deee-4c84-9510-1f3468422733_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/3_45029f1a-105f-43d1-b403-6bcb8f5975fc_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/4_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="tab-item active">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/10_2c12faf6-0734-47af-add2-f3c587e619bf_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/11_39069f08-a7a5-4abb-a96d-115cf3003478_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/12_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/15_bdc87d76-7a81-4f6d-8412-6d3795460c33_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_603373cb-82bd-42f5-aa43-6f2732fb91ec_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/18_58e8993e-93ba-4bc0-b85b-579b2b23d8ff_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/19_3d798f36-cfb4-4548-8b64-742b695faa25_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/11_39069f08-a7a5-4abb-a96d-115cf3003478_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/17_8a450403-0dd7-4911-b910-7a2b647993d0_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/16_5a65154d-5778-401d-9d96-c14d79c964f0_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main"
                                                 src="~/assets/image/tabmenu/20_5501ec06-deee-4c84-9510-1f3468422733_360x.webp"
                                                 alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/3_45029f1a-105f-43d1-b403-6bcb8f5975fc_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="tab-item">
                                        <div class="img">
                                            <img class="main" src="~/assets/image/tabmenu/4_360x.webp" alt="">
                                            <img class="another"
                                                 src="~/assets/image/tabmenu/7_56bc97c2-5520-42c8-81aa-c4677ffe35cf_360x.webp"
                                                 alt="">
                                            <div class="icons">
                                                <ul class="d-flex list-unstyled">
                                                    <li><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                                    <li>
                                                        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <a href="#">Canned wet cat food</a>
                                            <div class="price">
                                                <span>
                                                    $67.00
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Seller end -->
    <!-- Testimonial start -->
    <section id="testimonial">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-6 p-0">
                            <div class="img">
                                <img src="~/assets/image/testimonial/img-20_600x.webp" class="d-block w-100"
                                     alt="...">
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="img-txt">
                                <div class="txt">
                                    <div class="custom">Customer Reriews</div>
                                    <p>
                                        “Love this! It is great for acne prone skin. It completely dried up the
                                        few pimples i had and it smelled really good and natural too”
                                    </p>
                                    <span>
                                        John Doe - NewYork
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6 p-0">
                            <div class="img">
                                <img src="~/assets/image/testimonial/img-21_600x.webp" class="d-block w-100"
                                     alt="...">
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="img-txt">
                                <div class="txt">
                                    <div class="custom">Customer Reriews</div>
                                    <p>
                                        “Love this! It is great for acne prone skin. It completely dried up the
                                        few pimples i had and it smelled really good and natural too”
                                    </p>
                                    <span>
                                        John Doe - NewYork
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6 p-0">
                            <div class="img">
                                <img src="~/assets/image/testimonial/img-22_1080x.webp" class="d-block w-100"
                                     alt="...">
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="img-txt">
                                <div class="txt">
                                    <div class="custom">Customer Reriews</div>
                                    <p>
                                        “Love this! It is great for acne prone skin. It completely dried up the
                                        few pimples i had and it smelled really good and natural too”
                                    </p>
                                    <span>
                                        John Doe - NewYork
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- Testimonial end -->
    <section class="distance">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <div class="distance-item">
                        <div class="img">
                            <img class="mb-3" src="~/assets/image/distance/icon-3_120x.webp" alt="">
                            <div class="title">
                                <span>Free Shipping</span>
                                <p>Free shipping on all US order or order above $99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="distance-item">
                        <div class="img">
                            <img class="mb-3" src="~/assets/image/distance/icon-4_120x.webp" alt="">
                            <div class="title">
                                <span>Online Support 24/7</span>
                                <p>Free shipping on all US order or order above $99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="distance-item">
                        <div class="img">
                            <img class="mb-3" src="~/assets/image/distance/icon-5_120x.webp" alt="">
                            <div class="title">
                                <span>7 Days Return</span>
                                <p>Free shipping on all US order or order above $99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="distance-item">
                        <div class="img">
                            <img class="mb-3" src="~/assets/image/distance/icon-6_120x.webp" alt="">
                            <div class="title">
                                <span>Payment Secure</span>
                                <p>Free shipping on all US order or order above $99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>