*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
a{
    text-decoration: none;
}
header{
    width: 100% !important;
    .container{
        nav{
            .row{
                height: 80px;
                .nav-menu{
                    ul{
                        li{
                            a{
                                color: #000;
                                font-size: 15px;
                                font-weight: 500;
                                transition: .3s ease-in;
                                i{
                                    font-size: 10px;
                                    margin-left: 10px;
                                }
                                &.active{
                                    color: #16B8B8;
                                }
                                &:hover{
                                    color: #16B8B8;
                                }
                            }
                        }
                    }
                }
                .nav-icon{
                    ul{
                        li{
                            a{
                                color: rgb(44, 43, 43);
                                transition: .3s ease-in;
                                i{
                                    font-size: 20px;
                                }
                                sub{
                                    padding: 0px 5px;
                                    left: -10px;
                                    background-color: #16B8B8;
                                    color: #fff;
                                    border-radius: 50%;
                                }
                                &:hover{
                                    color: #16B8B8;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-img{
        img{
            width: 100%;
            z-index: 10;
        }
    }
}
.box{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #fff;
    width: 450px;
    height: 500px;
    display: none;
    z-index: 3;
    box-shadow: -2px 3px 19px 0px #ccc;
    transition: all .3s ease-in-out;
    .close{
        position: absolute;
        right: 55px;
        top: 25px;
        font-size: 25px;
        color: #000;
        font-size: 30px;
        transition: .3s ease-in;
        transform: rotate(0deg);
        &:hover{
            color: #16B8B8;
            transform: rotate(360deg);
        }
    }
    .top{
        .logo{
            img{
                position: absolute;
                left: 35px;
                top: 20px;
            }
        }
    }
    ul{
        position: absolute;
        top: 20%;
        left: 65px;
        li{
            padding: 15px;
            font-weight: 300;
            a{
                color: #000;
                transition: .3s ease-in;
                &:hover{
                    color: #16B8B8;
                }
            }
        }
    }
    .currency{
        position: absolute;
        top: 70%;
        left: 0px;
        ul{
            li{
                border: 1px solid #000;
                padding: 6px 2px;
                a{
                    color: #000;
                    padding: 5px 15px;
                }
                .active{
                    color: #fff;
                    background-color: #041B2D;
                }
            }
        }
    }
}
#middle-menu{
    .img{
        position: relative;
        img{
            height: 600px;
            width: 100%;
        }
        .container{
            .title{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                h1{
                    color: #fff;
                    font-weight: bold;
                    font-size: 30px;
                    text-transform: uppercase;
                }
                .menu{
                    a{
                        color: #fff;
                        font-size: 14px;
                    }
                    i{
                        color: #fff;
                        font-size: 12px;
                    }
                }
                .arrow{
                    ul{
                        li{
                            a{
                                i{
                                    font-size: 25px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#topContent{
    padding: 120px 0;
    .container{
        .product-single{
            .row{
                .product-photo{
                    img{
                        width: 100%;
                    }
                }
                .info-content{
                    padding: 0 15px 0 60px;
                    h1{
                        font-size: 1.6rem;
                        font-weight: 700;
                        line-height: 35px;
                        margin: -5px 0 33px;
                        text-transform: capitalize;
                    }
                    .productInfo{
                        .price{
                            span{
                                color: #000;
                                font-weight: bold;
                            }
                            ul{
                                margin-left: 50px;
                                li{
                                    a{
                                        i{
                                            color: rgb(209, 208, 205);
                                            margin: 0 2px;
                                        }
                                    }
                                }
                            }
                        }
                        .description{
                            margin: 20px 0;
                            p{
                                line-height: 22px;
                                margin-bottom: 27px;
                                font-weight: lighter;
                                font-size: 14px;
                            }
                        }
                        .info{
                            p{
                                span{
                                    font-weight: bold;
                                    font-size: 14px;
                                }
                                .tag{
                                    margin-left:50px ;
                                }
                                .sku{
                                    margin-left: 60px;
                                }
                                .category{
                                    margin-left: 10px;
                                }
                            }
                        }
                        form{
                            div{
                                label{
                                    font-weight: bold;
                                    margin-bottom: 5px;
                                }
                                textarea{
                                  background-color: rgb(243, 241, 241);
                                }
                            }
                        }
                        .quantity{
                            margin: 15px 0;
                            span{
                                font-weight: bold;
                            }
                            .value{
                                input{
                                    width: 100px;
                                    height: 48px;
                                    border-radius: 30px;
                                    border: none;
                                    background-color: rgb(236, 236, 236);
                                }
                                button{
                                    width: 100%;
                                    height: 48px;
                                    line-height: 48px;
                                    margin-left: 5px;
                                    border-radius: 30px;
                                    border: none;
                                    background-color: #041B2D;
                                    color: #fff;
                                }
                            }
                            .btn{
                                margin: 10px 0;
                                width: 100%;
                                border-radius: 30px;
                                border: none;
                                background-color: #041B2D;
                                color: #fff;
                            }
                        }
                        .guarantee{
                            margin-bottom: 10px;
                            label{
                                font-size: 12px;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                        }
                        .brand{
                            margin: 30px 0;
                        }
                        .productWishlist{
                            margin: 30px 0;
                            i{
                                font-size: 12px;
                               
                            }
                            span{
                                font-size: 12px;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                        }
                        .productIconUrl{
                            ul{
                                li{
                                    a{
                                        color: #000;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .shipping{
                            ul{
                                li{
                                    font-size: 14px;
                                }
                            }
                        }
                        .hoorey{
                            ul{
                                li{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#tabMenu{
    .container{
        .tablist{
            .tab-item{
                ul{
                    li{
                        a{
                            color: rgb(133, 132, 131);
                            font-weight: bold;
                        }
                        padding: 20px 0;
                        &.activelink{
                            border-bottom:3px solid #16B8B8 ;
                        }
                    }
                    border-bottom: 1px solid #ccc;
                }
              
                margin: 30px 0;
            }
            .tabs{
                .tab-content{
                display: none;
                &.active{
                    display: block;
                }
                p{
                    font-size: 14px;
                    color: rgb(115, 114, 114);
                }
                img{
                    margin: 30px 0;
                }
                ul{
                    li{
                        font-size: 12px;
                        a{
                            color: #000;
                            font-size: 14px;
                        }
                    }
                }
                h4{
                    color: #000;
                    font-size: 14px;
                    font-weight: bold;
                }
                ol{
                    li{
                        font-size: 14px;
                        color: rgb(144, 136, 136);
                    }
                }
                .review{
                    border: 1px solid #ccc;
                    width: 100vh;
                    
                }
                }
            }
        }
    }
}
.carousel{
    margin: 50px 0;
    position: relative;
    .title{
        margin: 30px 0;
        h2{
            font-weight: bold;
            font-size: 20px;
        }
    }
    .owl-carousel{
        .item{
            .tab-item{
                .txt{
                    text-align: center;
                    margin: 20px 0;
                    a{
                        color: rgb(124, 121, 121);
                    }
                    .price{
                        span{
                            color: var(--color-price);
                            font-weight: 600;
                            font-family: var(--font-family-primary);
                            font-size: 1rem;
                            line-height: 20px;
                        }
                    }
                }
                .img{
                    width: 100%;
                    position: relative;
                    transition: .3 ease-in;
                    img{
                        width: 100%;
                    }
                    .another{
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transform: translateY(30px);
                        transition: .3s ease-in
                    }
                    &:hover{
                        .another{
                            opacity: 1;
                            transform: translateY(5px);
                        }
                        .main{
                            opacity: 0;
                        }
                    }
                    .icons{
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        bottom: -20px;
                        ul{
                            li{
                                a{
                                    opacity: 0;
                                    box-shadow: -2px 3px 19px 0px #ccc ;
                                    i{
                                        padding: 15px;
                                        background-color: #fff;
                                        color: rgb(169, 169, 169);
                                        transition: .3s ease-in;
                                        opacity: 0;
                                        transform: translateY(20px);
                                        transform: scale(0.3);
                                        margin-left: 1px;
                                        font-size: 18px;
                                        &:hover{
                                            color: #000 ;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        .icons{
                            ul{
                                li{
                                    a{
                                        opacity: 1;
                                        i{
                                            opacity: 1;
                                            transform: translateY(0px);
                                            transform: scale(1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    padding: 50px 0;
    ul{
        li{
            a{
                color: #3b3b3b;
            }
        }
    }
}
@media screen and (max-width:1200px) {
    header{
        .col-lg-6{
            display: none !important;
        }
    }
    
}
@media screen and (max-width:992) {
    #slider{
       span{
        font-size: 18px !important;
       }
       h2{
        font-size: 20px !important;
       }
    }
    
}